# Dossiers générés par IDE
.idea/
.vscode/

# Fichiers compilés
*/target/
/bin/
/out/

# Fichiers de dépendances Maven
/.m2/

# Fichiers d'historique de construction
/build/

# Fichiers de logs
/logs/

# Fichiers de configuration utilisateur
*.iml
*.ipr
*.iws
*.class

# Fichiers temporaires
*.log
*.tmp

# Fichiers spécifiques à Eclipse
.settings/
.classpath
.project
.metadata/
 
# Fichiers spécifiques à IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Fichiers spécifiques à NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/build/

# Fichiers spécifiques à Visual Studio Code
.vscode/

/pom.xml.versionsBackup
